/*
* @Author: Administrator
* @Date:   2017-08-23 21:29:26
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-23 21:30:38
*/
@charset "utf-8";
body {
	background: green;
}

#box {
	width: 100px;
	height: 100px;
	background: yellow;
	border: red 10px solid;
}


